
@{
    ViewData["Title"] = "Contact";
}

<h3>Contact</h3>
<hr />

<style>
    .image {
        float: left;
        margin: 5px;
        width: 125px;
        height: 125px;
    }

    .paragraph {
        text-align: justify;
        font-size: 25px;
    }
</style>
<div>
    <div>
        <div class="d-flex justify-content-center">
            <img src="~/college.png"
                 alt="Dharmsinh Desai University,Nadiad" class="image">
        </div>


        <p class="d-flex justify-content-center text-dark paragraph">
            Dharmsinh Desai University,Nadiad
        </p>
        <p class="d-flex justify-content-center paragraph">
            College Rd, Chalali, Nadiad, Gujarat 387001
        </p>
    </div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/ccMhxvC.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Ronak Padaliya (Sem-5)</span></div>
                </div>
                <h6>Dharmsinh Desai University, Nadiad</h6>
                <div class="d-flex justify-content-end install mt-3"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=ronakpadaliya77@gmail.com" target="_blank" class="text-primary">Contact</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/IpKQiNu.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Chandresh Gohel (Sem-5)</span></div>
                </div>
                <h6>Dharmsinh Desai University, Nadiad</h6>
                <div class="d-flex justify-content-end install mt-3"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=chandreshgohel26@gmail.com" target="_blank" class="text-primary">Contact</a></div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card p-3">
                <div class="d-flex flex-row mb-3">
                    <img src="https://i.imgur.com/42SqVZd.png" width="70">
                    <div class="d-flex flex-column ml-2"><span>Darshan Parmar (Sem-5)</span></div>
                </div>
                <h6>Dharmsinh Desai University, Nadiad</h6>
                <div class="d-flex justify-content-end install mt-3"><a href="https://mail.google.com/mail/?view=cm&fs=1&to=darshanparmar272002@gmail.com" target="_blank" class="text-primary">Contact</a></div>
            </div>
        </div>
    </div>
</div>
